In [3]:
from src import transformation

In [4]:
transformation.get_data()

      names  numbers
0      joão        1
1     pedro        2
2  fernando        3
3     maria        4
4   antônia        5
5     joana        6